body p.class-name.big-size-font.bg-block{background-color: red;}
body{background-color: pink;}
h3,p{color: #fff;}
.class-name{color: green;}
p.class-name{font-size: 15px;}
.class-name.big-size-font{font-size: 20px;}
.bg-block{background-color: violet;}
.class-name.bg-block{background-color: black;}
p.class-name.big-size-font.bg-block{background-color: #fff;}
.class-name.big-size-font.bg-block{background-color: aquamarine;}
